<html>
  <head>
    <title>PDF Express</title>
    <style>
      body { margin: 30px; background: Aquamarine; font: 30px/1.5 "Futura"; display: flex; }
      header { margin-right: 80px; }
      ul { list-style: none; padding-left: 0; }
    </style>
  </head>
  <body>
    <header>
      <h1>
        <img src="/img/logo.svg" width="200">
      </h1>
      <ul>
        <% files.map(file => { %>
          <li>
            <a onclick="window.open('/uploads<%= file.url %>', '_blank', 'fullscreen=yes'); return false;"><%= file.name %></a>
          </li>
        <% }) %>
      </ul>
    <!-- <section>
            <% if((typeof(file) !== 'undefined')) { %>
              <embed src="<%= file.url %>" width="500" height="646">
            <% } %>
          </section> -->
    </header>
  </body>
</html>